.filter {
    position: relative;
    margin: 0;
    padding: 0;
    height: 20%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr;
}

.tag {
    position: absolute;
    margin: 0.5em;
    border: black solid;
}

.content {

}
