@font-face {
    font-family: Fulbo-Argenta;
    src: url("/src/media/Fonts/SlideList.ttf");
}
.slideWrapper {
    position: relative;
}

#checkbox1 {
    display: none;
}

.panel {
    position: fixed;
    top: 0;
    width: max-content;
    z-index: 9999;
    left: -360px;
    background: purple;
    height: 100vh;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    padding: 1.5em 0 0 0;
}

.panelBtnClose {
    cursor: pointer;
    color: white;
    font-size: 30px;
    position: absolute;
    transform: rotate(45deg);
    top: 8px;
    right: 8px;
    z-index: 1;
}

.buttonWrap {
    position: fixed;
    text-align: center;
    width: 120px;
    float: right;
    top: 0;
    margin: 10px;
}

.button1 .btn{
    content: url('/src/media/Photos/menu.png');
    width: 65px;
    cursor: pointer;
    position: relative;
    padding: 10px;
}

#checkbox1:checked + .panel + .buttonWrap .button1 .open{
    transform: rotate(360deg);
    transition-duration: 2s;
}

.button1 .open {
    transform: rotate(0deg);
    transition-duration: 1.5s;
}

#checkbox1:checked + .panel {
    left: 0;
}

.list {
    text-align: center;
}

.link {
    font-family: Fulbo-Argenta;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
}

.listElements {
    margin: 1em 2em 0 2em;
}

.line {
    height: 3px;
    margin: 0.7em 0 0 0;
    padding: 0;
    color: white;
    background-color: white;
}

.firstLine {
    height: 4px;
    margin: 1em 0 1em 0;
    padding: 0;
    color: white;
    background-color: white;
}

.lastLine {
    height: 4px;
    margin: 1em 0 1em 0;
    padding: 0;
    color: white;
    background-color: white;
}