* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr max-content;
    grid-gap: 1em;
}

.head {
    grid-column: 1/4;
    grid-row: 1/4;
    height: 100px;
    background-color: green;
    position: relative;
}

.nav {
    height: 800px;
    background-color: purple;
    position: relative;
    padding: 2em;
}

.cont {
    height: 800px;
    background-color: grey;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}